#content{
    display: flex;
    flex-flow: row wrap;
}
.square{
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid black;
    flex-shrink: 0;
}

.color{
    background-color: grey;
}
