#content{
    display: flex;
    max-width: 1024px;
    max-height: 1024px;
    flex-flow: row wrap;
}
.square{
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid black;
    flex-shrink: 0;
}

.color{
    background-color: grey;
}
$('.square').hover(
    function(){ $(this).addClass('color')}
)